In [1]:
# PluralSight Pandas Fundamentals Course

In [209]:
try:
    import pandas as pd
except Exception:
    print("Looks like no Pandas is present. Install it")
    !pip install pandas
    import pandas as pd

In [210]:
try:
    import numpy as np
except Exception:
    print("Looks like no Numpy is present. Install it")
    !pip install numpy
    import numpy as np

In [211]:
print(f"PANDAS VERSION: {pd.__version__}")

PANDAS VERSION: 1.5.3

In [212]:
print(f"NUMPY VERSION: {np.__version__}")

NUMPY VERSION: 1.25.2

In [4]:
np_arr = np.random.rand(3)

In [7]:
np_arr.all()

True

In [9]:
np_arr

array([0.3551186 , 0.60153518, 0.38251357])

In [10]:
my_series = pd.Series(np_arr)

In [12]:
my_series.head()

0    0.355119
1    0.601535
2    0.382514
dtype: float64

In [13]:
my_series[0]

0.35511859715054495

In [14]:
my_series = pd.Series(np_arr, index=["f","s","t"])

In [15]:
my_series

f    0.355119
s    0.601535
t    0.382514
dtype: float64

In [16]:
np_arr_2 = np.random.rand(3,2)

In [17]:
np_arr_2

array([[0.98214468, 0.76262394],
       [0.28261424, 0.63182325],
       [0.97473429, 0.98100273]])

In [18]:
df2 = pd.DataFrame(np_arr_2)

In [19]:
df2

          0         1
0  0.982145  0.762624
1  0.282614  0.631823
2  0.974734  0.981003

In [20]:
df2.columns

RangeIndex(start=0, stop=2, step=1)

In [22]:
df2.columns = ["first", "second"]

In [23]:
df2.head()

      first    second
0  0.982145  0.762624
1  0.282614  0.631823
2  0.974734  0.981003

In [26]:
# Download data from Github
# !wget https://github.com/tategallery/collection/blob/master/artist_data.csv
# !wget https://github.com/tategallery/collection/blob/master/artwork_data.csv

In [27]:
import os

In [38]:
!ls -la

total 48576
drwxr-xr-x@ 7 screative  staff       224 14 Aug 10:43 .
drwxr-xr-x@ 3 screative  staff        96 29 May 19:56 ..
drwxr-xr-x@ 4 screative  staff       128 14 Aug 10:25 .ipynb_checkpoints
-rw-r--r--@ 1 screative  staff    482311 14 Aug 10:43 artist_data.csv
-rw-r--r--@ 1 screative  staff  24353266 14 Aug 10:43 artwork_data.csv
-rw-r--r--@ 1 screative  staff      5486 14 Aug 10:02 combine_arrs.ipynb
-rw-r--r--@ 1 screative  staff     21991 14 Aug 10:43 pandas_funds_arts.ipynb

In [120]:
# Read just 5 rows
df_artworks = pd.read_csv('artwork_data.csv', nrows=5)

In [121]:
df_artworks.columns

Index(['id', 'accession_number', 'artist', 'artistRole', 'artistId', 'title',
       'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnailCopyright', 'thumbnailUrl', 'url'],
      dtype='object')

In [122]:
df_artworks = pd.read_csv('artwork_data.csv', nrows=5, index_col='id')
df_artworks.head(2)

,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
id,,,,,,,,,,,,,,,,,,,
1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...

In [123]:
df_artworks = pd.read_csv('artwork_data.csv', 
                          index_col='id', 
                          usecols=['id', 'artist']
                         )

In [124]:
df_artworks.head(2)

             artist
id
1035  Blake, Robert
1036  Blake, Robert

In [125]:
COLS_TO_USE = [
    'id', 'artist', 'title', 'medium', 'year', 'acquisitionYear', 'height', 'width', 'units'
]

In [126]:
df_artworks = pd.read_csv('artwork_data.csv', 
                          index_col='id', 
                          usecols=COLS_TO_USE,
                          low_memory=False
                         )
df_artworks.head(2)

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394,419,mm
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311,213,mm

In [137]:
# Save for later - in PICKLE format
df_artworks.to_pickle(os.path.join('.', 'df_artworks.pickle'))

In [138]:
# !ls -la collection/artworks/
# !rm df_artworks.pickle
!ls -la

total 58808
drwxr-xr-x@  9 screative  staff       288 14 Aug 12:11 .
drwxr-xr-x@  4 screative  staff       128 14 Aug 11:50 ..
drwxr-xr-x@  4 screative  staff       128 14 Aug 10:25 .ipynb_checkpoints
-rw-r--r--@  1 screative  staff    482311 14 Aug 10:43 artist_data.csv
-rw-r--r--@  1 screative  staff  24353266 14 Aug 10:43 artwork_data.csv
drwxr-xr-x@ 12 screative  staff       384 14 Aug 10:53 collection
-rw-r--r--@  1 screative  staff      5486 14 Aug 10:02 combine_arrs.ipynb
-rw-r--r--@  1 screative  staff   5215886 14 Aug 12:11 df_artworks.pickle
-rw-r--r--@  1 screative  staff     42892 14 Aug 11:59 pandas_funds_arts.ipynb

In [139]:
df_artworks.head(2)

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394,419,mm
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311,213,mm

In [113]:
# FROM JSON
import json

In [95]:
# Example of from_records 
records = [("Espresso","5$"),
          ("Flat White", "10$")]
pd.DataFrame.from_records(records, columns=["Coffee", "Price"])

       Coffee Price
0    Espresso    5$
1  Flat White   10$

In [58]:
KEYS_TO_USE = ['id', 'all_artists', 'title', 'medium', 'acquisitionYear', 'height', 'width']

In [61]:

def get_record_from_file(file_path, keys_to_use):

    with open(file_path) as artwork_file:
        content = json.load(artwork_file)

    record = []
    for field in keys_to_use:
        record.append(content[field])
    return tuple(record)

In [62]:
def read_artworks_from_json(keys_to_use):
    JSON_ROOT = os.path.join('collection', 'artworks')
    artworks = []
    for root, _, files in os.walk(JSON_ROOT):
        for f in files:
            if f.endswith('json'):
                record = get_record_from_file(
                    os.path.join(root,f), 
                    keys_to_use
                )
                artworks.append(record)
                break
    df = pd.DataFrame.from_records(artworks,
                                   columns=keys_to_use,
                                   index="id")
    return df

In [72]:
df_json =  read_artworks_from_json(KEYS_TO_USE)

In [73]:
df_json.head(3)

,all_artists,title,medium,acquisitionYear,height,width
id,,,,,,
6620,William Hogarth,A Scene from ‘The Beggar’s Opera’ VI,Oil paint on canvas,1909,762,572
10413,William James Müller,"Study of Pines, Rheinwald",Watercolour on paper,1908,410,269
496,Sir Lawrence Alma-Tadema,A Silent Greeting,Oil paint on wood,1894,229,305

In [76]:
# Single-column selection

# df_json.columns
df_json[['all_artists', 'title']]

                            all_artists                                 title
id
6620                    William Hogarth  A Scene from ‘The Beggar’s Opera’ VI
10413              William James Müller             Study of Pines, Rheinwald
496            Sir Lawrence Alma-Tadema                     A Silent Greeting
15803                  Frederick Walker                          The Vagrants
1810   Sir Edward Coley Burne-Jones, Bt                         Head and Hand
...                                 ...                                   ...
80497                  James Rosenquist             Sun Sets on the Time Zone
19078                     Hamish Fulton            Seven Winds. Scotland 1985
83640                    Thomas Schütte                            [no title]
21713                     Philip Guston                              Untitled
21706                     Philip Guston                              Untitled

[738 rows x 2 columns]

In [140]:
df_pk = pd.read_pickle('df_artworks.pickle')

In [141]:
df_pk.artist

id
1035           Blake, Robert
1036           Blake, Robert
1037           Blake, Robert
1038           Blake, Robert
1039          Blake, William
                 ...
122960    P-Orridge, Genesis
122961    P-Orridge, Genesis
121181          Hatoum, Mona
112306         Creed, Martin
127035     Brunias, Agostino
Name: artist, Length: 69201, dtype: object

In [142]:
artists = df_pk['artist']

In [143]:
uniq_artists = pd.unique(artists)

In [144]:
len(uniq_artists)

3336

In [107]:
uniq_artists

array(['Blake, Robert', 'Blake, William'], dtype=object)

In [145]:
s = df_artworks['artist'] == 'Bacon, Francis'
s.value_counts()

False    69151
True        50
Name: artist, dtype: int64

In [146]:
# Alternatively
artist_counts = df_artworks['artist'].value_counts()
artist_counts['Bacon, Francis']

50

In [155]:
# Using loc and iloc: loc is by LABELS while iloc is by POSITIONS
"""Using df.loc => df.loc[row_indexer e.g. 1035, column_indexer e.g. 'artist' ] 
OR df.loc[boolean_expression e.g.df['artist'] ==  "Bacon, Francis", col_indexer e.g. :] 
"""
df_artworks.loc[df_artworks['artist'] == 'Bacon, Francis', :]

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
672,"Bacon, Francis",Figure in a Landscape,Oil paint on canvas,1945,1950.0,1448,1283,mm
673,"Bacon, Francis",Study of a Dog,Oil paint on canvas,1952,1952.0,1981,1372,mm
674,"Bacon, Francis",Three Studies for Figures at the Base of a Cru...,Oil paint on 3 boards,1944,1953.0,NaN,NaN,NaN
677,"Bacon, Francis",Study for a Portrait of Van Gogh IV,Oil paint on canvas,1957,1958.0,1524,1168,mm
678,"Bacon, Francis",Reclining Woman,Oil paint on canvas,1961,1961.0,1988,1416,mm
679,"Bacon, Francis",Seated Figure,Oil paint on canvas,1961,1961.0,1651,1422,mm
680,"Bacon, Francis",Study for Portrait on Folding Bed,Oil paint on canvas,1963,1963.0,1981,1473,mm
681,"Bacon, Francis",Portrait of Isabel Rawsthorne,Oil paint on canvas,1966,1966.0,813,686,mm
682,"Bacon, Francis",Three Figures and Portrait,Oil paint and pastel on canvas,1975,1977.0,1981,1473,mm
683,"Bacon, Francis",Study for Portrait II (after the Life Mask of ...,Oil paint on canvas,1955,1979.0,610,508,mm
684,"Bacon, Francis",Triptych - August 1972,Oil paint on 3 canvases,1972,1980.0,NaN,NaN,NaN
19509,"Bacon, Francis",Second Version of Triptych 1944,Oil paint and acrylic paint on 3 canvases,1988,1991.0,NaN,NaN,NaN
26004,"Bacon, Francis",Figure in a Landscape,Oil paint on paper,1952,1998.0,339,263,mm
26003,"Bacon, Francis",Turning Figure,Graphite and oil paint on paper,1959,1998.0,339,263,mm
26001,"Bacon, Francis","Reclining Figure, No. 1",Oil paint and ink on paper,1961,1998.0,238,156,mm
26002,"Bacon, Francis","Reclining Figure, No. 2",Oil paint and ink on paper,1961,1998.0,222,150,mm
26025,"Bacon, Francis","Two Owls, No. 1",Graphite and oil paint on paper,1957,1998.0,270,340,mm
26060,"Bacon, Francis",Figure in a Framework,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26059,"Bacon, Francis",Collapsed Figure,Oil paint on paper,1957,1998.0,340,270,mm
26026,"Bacon, Francis",Figure Bending Forwards,Oil paint on paper,1957,1998.0,340,270,mm
26058,"Bacon, Francis","Two Owls, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26057,"Bacon, Francis",Falling Figure,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26055,"Bacon, Francis","Figure with Left Arm Raised, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26056,"Bacon, Francis","Figure with Left Arm Raised, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26054,"Bacon, Francis",Figure with Arms Swung Out,Oil paint on paper,1957,1998.0,340,265,mm
26053,"Bacon, Francis",Seated Figure,Graphite on paper,1957,1998.0,340,270,mm
26052,"Bacon, Francis",Figure Lying Flat,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26051,"Bacon, Francis",Figure in Grey Interior,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26050,"Bacon, Francis",Standing Figure,Ink on paper,1957,1998.0,340,270,mm
26049,"Bacon, Francis",Figure with Foot in Hand,Oil paint and ink on paper,1957,1998.0,270,340,mm
26048,"Bacon, Francis",Fallen Figure,Oil paint on paper,1957,1998.0,340,270,mm
26047,"Bacon, Francis",Fallen Figure with Arms Up,Oil paint on paper,1957,1998.0,340,270,mm
26046,"Bacon, Francis","Bending Figure, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26045,"Bacon, Francis",Figure Crawling,Oil paint on paper,1957,1998.0,340,270,mm
26044,"Bacon, Francis",Head,Oil paint on paper,1957,1998.0,340,270,mm
26043,"Bacon, Francis","Figure Lying, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26042,"Bacon, Francis","Figure Lying, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26041,"Bacon, Francis","Blue Crawling Figure, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26040,"Bacon, Francis","Blue Crawling Figure, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26039,"Bacon, Francis",Pink Crawling Figure,Oil paint and ink on paper,1957,1998.0,340,270,mm
26038,"Bacon, Francis","Bending Figure, No. 2",Ink and oil paint on paper,1957,1998.0,340,270,mm
26037,"Bacon, Francis",Composition,Oil paint on paper,1957,1998.0,340,270,mm
26036,"Bacon, Francis",Man on a Bed,Graphite on paper,1957,1998.0,254,190,mm
26035,"Bacon, Francis",Man on a Sofa,Oil paint on paper,1957,1998.0,254,190,mm
26034,"Bacon, Francis",Nude Reading,Graphite and oil paint on paper,1957,1998.0,254,190,mm
26033,"Bacon, Francis","Cross-legged Figure with Arms Raised, No. 1",Graphite on paper,1957,1998.0,254,190,mm
26032,"Bacon, Francis","Cross-legged Figure with Arms Raised, No. 2",Oil paint on paper,1957,1998.0,254,190,mm
26031,"Bacon, Francis",Seated Woman,Graphite on paper,1957,1998.0,254,190,mm
21897,"Bacon, Francis",Figures in a Garden,Oil paint on canvas,1936,2008.0,740,940,mm
111,"Bacon, Francis",Study for a Portrait,Oil paint and sand on canvas,1952,2008.0,661,561,mm

In [151]:
# Using df.iloc => df.iloc[row_indexer e.g. 20:120], [column_indexer e.g. [0,1,4]]
df_artworks.iloc[100:300, [0,1,4]]

,artist,title,acquisitionYear
id,,,
1737,"Burne-Jones, Sir Edward Coley, Bt",Head of a Girl,1927.0
1738,"Burne-Jones, Sir Edward Coley, Bt",Figure Study,1927.0
1739,"Burne-Jones, Sir Edward Coley, Bt",Study of the Head of a Female Attendant for ‘T...,1927.0
20231,"Burne-Jones, Sir Edward Coley, Bt",Study of Iseult for ‘The Marriage of Sir Trist...,1927.0
1740,"Burne-Jones, Sir Edward Coley, Bt",Composition Study for ‘Clerk Saunders’,1927.0
...,...,...,...
7329,"Jones, George",[title not known],1888.0
7330,"Jones, George",[title not known],1888.0
7331,"Jones, George",[title not known],1888.0
7332,"Jones, George",[title not known],1888.0
7333,"Jones, George",[title not known],1888.0

In [156]:
# Examples
df_artworks.loc[1035, 'artist']

'Blake, Robert'

In [158]:

df_artworks.iloc[0,0]

'Blake, Robert'

In [159]:
df_artworks.iloc[0,:]

artist                                                 Blake, Robert
title              A Figure Bowing before a Seated Old Man with h...
medium             Watercolour, ink, chalk and graphite on paper....
year                                                             NaN
acquisitionYear                                               1922.0
width                                                            394
height                                                           419
units                                                             mm
Name: 1035, dtype: object

In [160]:
df_artworks.iloc[0:2, 0:2]

             artist                                              title
id
1035  Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1036  Blake, Robert  Two Drawings of Frightened Figures, Probably f...

In [162]:
# Expect error due to BAD data
# df_artworks['height'] * df_artworks['width']

In [163]:
df_artworks['width'].sort_values().head()

id
20822            (1):
105337    (diameter):
98671         (each):
76420         (each):
91391        (image):
Name: width, dtype: object

In [164]:
df_artworks['width'].sort_values().tail()

id
121283    NaN
117863    NaN
120549    NaN
122900    NaN
112306    NaN
Name: width, dtype: object

In [166]:
#  Expect errors
# pd.to_numeric(df_artworks['width'])

In [167]:
# Force NaNs
pd.to_numeric(df_artworks['width'], errors='coerce')

id
1035      394.0
1036      311.0
1037      343.0
1038      318.0
1039      243.0
          ...
122960    305.0
122961    305.0
121181     45.0
112306      NaN
127035    508.0
Name: width, Length: 69201, dtype: float64

In [168]:
df_artworks.loc[:,'width'] = pd.to_numeric(df_artworks['width'], errors='coerce')

/var/folders/19/hfphn2591ns6h03wq78nx0_m0000gn/T/ipykernel_77770/1373082685.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_artworks.loc[:,'width'] = pd.to_numeric(df_artworks['width'], errors='coerce')

In [169]:
pd.to_numeric(df_artworks['height'], errors='coerce')

id
1035       419.0
1036       213.0
1037       467.0
1038       394.0
1039       335.0
           ...
122960     305.0
122961     305.0
121181    2410.0
112306       NaN
127035     660.0
Name: height, Length: 69201, dtype: float64

In [170]:
df_artworks.loc[:,'height'] = pd.to_numeric(df_artworks['height'], errors='coerce')

/var/folders/19/hfphn2591ns6h03wq78nx0_m0000gn/T/ipykernel_77770/1373936971.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_artworks.loc[:,'height'] = pd.to_numeric(df_artworks['height'], errors='coerce')

In [171]:
df_artworks['height'] * df_artworks['width']

id
1035      165086.0
1036       66243.0
1037      160181.0
1038      125292.0
1039       81405.0
            ...
122960     93025.0
122961     93025.0
121181    108450.0
112306         NaN
127035    335280.0
Length: 69201, dtype: float64

In [172]:
df_artworks['units'].value_counts()

mm    65860
Name: units, dtype: int64

In [173]:
# Assign - Create new COLUMNS with size
area = df_artworks['height'] * df_artworks['width']
df_artworks = df_artworks.assign(area=area)

In [174]:
df_artworks['area'].max()

132462000.0

In [175]:
df_artworks['area'].idxmax()

98367

In [176]:
df_artworks.loc[df_artworks['area'].idxmax(), :]

artist                               Therrien, Robert
title                No Title (Table and Four Chairs)
medium             Aluminium, steel, wood and plastic
year                                             2003
acquisitionYear                                2008.0
width                                          8920.0
height                                        14850.0
units                                              mm
area                                      132462000.0
Name: 98367, dtype: object

In [177]:
# Operations e.g. AGGREATIONS IN PANDAS via  APIS
# Sample data
df_small = df_artworks.iloc[49980:50019, :].copy()

In [178]:
grouped = df_small.groupby('artist')

In [179]:
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [180]:
for name, group_df in grouped:
    print(name)
    print(group_df)
    break

Frost, Sir Terry
                artist            title               medium  year  \
id
4704  Frost, Sir Terry        Blue Moon  Lithograph on paper  1952
4705  Frost, Sir Terry      Boat Shapes     Linocut on paper  1952
4706  Frost, Sir Terry      Boat Shapes     Linocut on paper  1954
4707  Frost, Sir Terry      Boat Shapes     Linocut on paper  1954
4708  Frost, Sir Terry            Leeds    Drypoint on paper  1956
4709  Frost, Sir Terry  Camping, Anduze     Etching on paper  1979
4710  Frost, Sir Terry     Umea, Sweden     Etching on paper  1979
4711  Frost, Sir Terry    Self-Portrait     Etching on paper  1980

      acquisitionYear  width  height units     area
id
4704           1983.0  355.0   273.0    mm  96915.0
4705           1983.0  132.0   143.0    mm  18876.0
4706           1983.0  131.0   155.0    mm  20305.0
4707           1983.0  193.0   267.0    mm  51531.0
4708           1983.0  125.0   167.0    mm  20875.0
4709           1983.0  257.0   209.0    mm  53713.0
4710           1983.0    NaN     NaN   NaN      NaN
4711           1983.0  277.0   200.0    mm  55400.0

In [181]:
# Find min_year of acquisition
for name, group_df in grouped:
    min_year = group_df['acquisitionYear'].min()
    print(f"\t{name}:{min_year}")

	Frost, Sir Terry:1983.0
	Phillips, Esq Tom:1983.0
	Wols:1983.0

In [182]:
grouped.head()

,artist,title,medium,year,acquisitionYear,width,height,units,area
id,,,,,,,,,
16412,Wols,[no title],Etching on paper,1937,1983.0,130.0,80.0,mm,10400.0
16413,Wols,[no title],Etching and drypoint on paper,1937,1983.0,187.0,102.0,mm,19074.0
16414,Wols,[no title],Etching and drypoint on paper,1937,1983.0,248.0,168.0,mm,41664.0
16415,Wols,[no title],Etching and drypoint on paper,1937,1983.0,149.0,102.0,mm,15198.0
16416,Wols,[no title],Etching and drypoint on paper,1937,1983.0,203.0,120.0,mm,24360.0
4704,"Frost, Sir Terry",Blue Moon,Lithograph on paper,1952,1983.0,355.0,273.0,mm,96915.0
4705,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1952,1983.0,132.0,143.0,mm,18876.0
4706,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1954,1983.0,131.0,155.0,mm,20305.0
4707,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1954,1983.0,193.0,267.0,mm,51531.0
4708,"Frost, Sir Terry",Leeds,Drypoint on paper,1956,1983.0,125.0,167.0,mm,20875.0
11838,"Phillips, Esq Tom",[colophon],Etching on paper,1979,1983.0,292.0,204.0,mm,59568.0

In [183]:
grouped.describe()

                  acquisitionYear                                       \
                            count    mean  std     min     25%     50%
artist
Frost, Sir Terry              8.0  1983.0  0.0  1983.0  1983.0  1983.0
Phillips, Esq Tom             1.0  1983.0  NaN  1983.0  1983.0  1983.0
Wols                         30.0  1983.0  0.0  1983.0  1983.0  1983.0

                                  width              ... height         area  \
                      75%     max count        mean  ...    75%    max count
artist                                               ...
Frost, Sir Terry   1983.0  1983.0   7.0  210.000000  ...  238.0  273.0   7.0
Phillips, Esq Tom  1983.0  1983.0   1.0  292.000000  ...  204.0  204.0   1.0
Wols               1983.0  1983.0  30.0  142.733333  ...  102.0  248.0  30.0

                                                                          \
                           mean           std      min      25%      50%
artist
Frost, Sir Terry   45373.571429  28270.251419  18876.0  20590.0  51531.0
Phillips, Esq Tom  59568.000000           NaN  59568.0  59568.0  59568.0
Wols               16533.366667  14424.084695   5880.0  10565.0  12152.0


                       75%      max
artist
Frost, Sir Terry   54556.5  96915.0
Phillips, Esq Tom  59568.0  59568.0
Wols               14513.5  80352.0

[3 rows x 32 columns]

In [185]:
def fill_values(series):
    values_counted = series.value_counts()
    if values_counted.empty:
        return series
    most_freq = values_counted.index[0]
    new_medium = series.fillna(most_freq)
    return new_medium

In [186]:
def transform_df(source_df):
    group_dfs = []
    for name, group_df in source_df.groupby('artist'):
        filled_df = group_df.copy()
        filled_df.loc[:, 'medium'] = fill_values(group_df['medium'])
        group_dfs.append(filled_df)

    new_df = pd.concat(group_dfs)
    return new_df

In [187]:
filled_df = transform_df(df_small)

In [188]:
filled_df.head(7)

,artist,title,medium,year,acquisitionYear,width,height,units,area
id,,,,,,,,,
4704,"Frost, Sir Terry",Blue Moon,Lithograph on paper,1952,1983.0,355.0,273.0,mm,96915.0
4705,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1952,1983.0,132.0,143.0,mm,18876.0
4706,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1954,1983.0,131.0,155.0,mm,20305.0
4707,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1954,1983.0,193.0,267.0,mm,51531.0
4708,"Frost, Sir Terry",Leeds,Drypoint on paper,1956,1983.0,125.0,167.0,mm,20875.0
4709,"Frost, Sir Terry","Camping, Anduze",Etching on paper,1979,1983.0,257.0,209.0,mm,53713.0
4710,"Frost, Sir Terry","Umea, Sweden",Etching on paper,1979,1983.0,NaN,NaN,NaN,NaN

In [189]:
# BUILTIN METHODS
grouped_medium = df_small.groupby('artist')['medium']

In [191]:
df_small.loc[:,'medium'] = grouped_medium.transform(fill_values)

In [192]:
df_small.head(7)

,artist,title,medium,year,acquisitionYear,width,height,units,area
id,,,,,,,,,
16412,Wols,[no title],Etching on paper,1937,1983.0,130.0,80.0,mm,10400.0
16413,Wols,[no title],Etching and drypoint on paper,1937,1983.0,187.0,102.0,mm,19074.0
16414,Wols,[no title],Etching and drypoint on paper,1937,1983.0,248.0,168.0,mm,41664.0
16415,Wols,[no title],Etching and drypoint on paper,1937,1983.0,149.0,102.0,mm,15198.0
16416,Wols,[no title],Etching and drypoint on paper,1937,1983.0,203.0,120.0,mm,24360.0
16417,Wols,[no title],Etching on paper,1937,1983.0,130.0,79.0,mm,10270.0
16418,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124.0,98.0,mm,12152.0

In [194]:
# USign Builtin to get min acq year
grouped_acq_year = df_small.groupby('artist')['acquisitionYear']

In [195]:
min_acq_years = grouped_acq_year.agg(np.min)

In [196]:
min_acq_years.head(10)

artist
Frost, Sir Terry     1983.0
Phillips, Esq Tom    1983.0
Wols                 1983.0
Name: acquisitionYear, dtype: float64

In [197]:
min_2_acq_years = grouped_acq_year.min()
min_2_acq_years.head()

artist
Frost, Sir Terry     1983.0
Phillips, Esq Tom    1983.0
Wols                 1983.0
Name: acquisitionYear, dtype: float64

In [200]:
grouped_titles = df_artworks.groupby('title')
condition = lambda x: len(x.index) > 1

In [201]:
filtered_df = grouped_titles.filter(condition)

In [204]:
len(filtered_df.value_counts())

12884

In [205]:
len(df_artworks)

69201

In [206]:
# Working with DATABASES
import sqlite3

In [207]:
with sqlite3.connect("artworks.db") as conn:
    df_small.to_sql('Tate', conn)

'1.5.3'